/* css */
@font-face {
    font-family: "jomhuria";
    src: url(jomhuria.ttf) format("truetype");
}



html {
    height: 100%;
}



body {
    background: rgb(29,18,38);
    background: linear-gradient(0deg, rgba(29,18,38,1) 0%, rgba(111,74,140,1) 50%, rgba(29,18,38,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    padding: 0.1rem 0.5rem;  /* Reduced padding from top/bottom and left/right */
    font-family: "jomhuria", serif;
    font-size: 30px;
}

.navbar-nav .nav-link {
    padding: 0.1rem 0.3rem;  /* Reduced padding from top/bottom and left/right */
}


h1 {
    font-family: "jomhuria", serif;
    font-size: 250px;
    color: rgb(230, 222, 237);
}

h3 {
    font-family: "jomhuria", serif;
    font-size: 48px;
    color: rgb(230, 222, 237);
}

h2 {
    font-family: "jomhuria", serif;
    font-size: 64px;
    color: rgb(230, 222, 237);
}

p {
    font-family: "jomhuria", serif;
    font-size: 48px;
    color: rgb(230, 222, 237);
}

.large-margin-top {
    margin-top: 260px; 
}

.larger-margin-top {
    margin-top: 400px; 
}

.img-width {
    width: 100vw; 
    height: 650px;
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
}

label {
    font-family: "jomhuria", serif;
    font-size: 36px;
    color: rgb(230, 222, 237);
}



[id]:before {
    display: block;
    content: " ";
    margin-top: -50px;  
    height: 50px;  
    visibility: hidden;
    pointer-events: none;
}
